<a href="https://colab.research.google.com/github/Yadukrishnan1/Pyspark/blob/main/pyspark_begin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 34 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 57.8 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=20ce3a44975d12c4a3afd84b3f77eb207bc4ef0c34d5e9497dc86af57dea35a9
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [2]:
PATH='/content/drive/MyDrive/Colab_Notebooks/pyspark/equity_value_data.csv'

In [3]:
import pyspark

In [4]:
import pandas as pd

In [6]:
data=pd.read_csv('/content/drive/MyDrive/Colab_Notebooks/pyspark/equity_value_data.csv')

In [7]:
data.head()

              timestamp  close_equity                           user_id
0  2016-11-16T00:00:00Z         48.16  bcef4fa9b0bdf22bcf7deae708decf03
1  2016-11-17T00:00:00Z         48.16  bcef4fa9b0bdf22bcf7deae708decf03
2  2016-11-18T00:00:00Z         48.16  bcef4fa9b0bdf22bcf7deae708decf03
3  2016-11-21T00:00:00Z         48.16  bcef4fa9b0bdf22bcf7deae708decf03
4  2016-11-22T00:00:00Z         48.16  bcef4fa9b0bdf22bcf7deae708decf03

In [8]:
from pyspark.sql import SparkSession

In [9]:
spark=SparkSession.builder.appName('Practice').getOrCreate()

In [10]:
spark

In [11]:
df_pyspark=spark.read.csv(PATH)
df_pyspark.show()

+--------------------+------------+--------------------+
|                 _c0|         _c1|                 _c2|
+--------------------+------------+--------------------+
|           timestamp|close_equity|             user_id|
|2016-11-16T00:00:00Z|       48.16|bcef4fa9b0bdf22bc...|
|2016-11-17T00:00:00Z|       48.16|bcef4fa9b0bdf22bc...|
|2016-11-18T00:00:00Z|       48.16|bcef4fa9b0bdf22bc...|
|2016-11-21T00:00:00Z|       48.16|bcef4fa9b0bdf22bc...|
|2016-11-22T00:00:00Z|       48.16|bcef4fa9b0bdf22bc...|
|2016-11-23T00:00:00Z|       48.16|bcef4fa9b0bdf22bc...|
|2016-11-25T00:00:00Z|       48.16|bcef4fa9b0bdf22bc...|
|2016-11-28T00:00:00Z|       48.16|bcef4fa9b0bdf22bc...|
|2016-11-29T00:00:00Z|       48.16|bcef4fa9b0bdf22bc...|
|2016-11-30T00:00:00Z|       48.16|bcef4fa9b0bdf22bc...|
|2016-12-01T00:00:00Z|       48.16|bcef4fa9b0bdf22bc...|
|2016-12-02T00:00:00Z|       48.16|bcef4fa9b0bdf22bc...|
|2016-12-05T00:00:00Z|       48.16|bcef4fa9b0bdf22bc...|
|2016-12-06T00:00:00Z|       48.16|bcef4fa9b0bdf22bc...|
|2016-12-07T00:00:00Z|       48.16|bcef4fa9b0bdf22bc...|
|2016-12-08T00:00:00Z|       48.16|bcef4fa9b0bdf22bc...|
|2016-12-09T00:00:00Z|       48.16|bcef4fa9b0bdf22bc...|
|2016-12-12T00:00:00Z|       48.16|bcef4fa9b0bdf22bc...|
|2016-12-13T00:00:00Z|       48.16|bcef4fa9b0bdf22bc...|
+--------------------+------------+--------------------+
only showing top 20 rows

In [12]:
df_pyspark.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)

In [13]:
df_pyspark=spark.read.option('header', 'true').csv(PATH, inferSchema=True)
df_pyspark.show()

+-------------------+------------+--------------------+
|          timestamp|close_equity|             user_id|
+-------------------+------------+--------------------+
|2016-11-16 00:00:00|       48.16|bcef4fa9b0bdf22bc...|
|2016-11-17 00:00:00|       48.16|bcef4fa9b0bdf22bc...|
|2016-11-18 00:00:00|       48.16|bcef4fa9b0bdf22bc...|
|2016-11-21 00:00:00|       48.16|bcef4fa9b0bdf22bc...|
|2016-11-22 00:00:00|       48.16|bcef4fa9b0bdf22bc...|
|2016-11-23 00:00:00|       48.16|bcef4fa9b0bdf22bc...|
|2016-11-25 00:00:00|       48.16|bcef4fa9b0bdf22bc...|
|2016-11-28 00:00:00|       48.16|bcef4fa9b0bdf22bc...|
|2016-11-29 00:00:00|       48.16|bcef4fa9b0bdf22bc...|
|2016-11-30 00:00:00|       48.16|bcef4fa9b0bdf22bc...|
|2016-12-01 00:00:00|       48.16|bcef4fa9b0bdf22bc...|
|2016-12-02 00:00:00|       48.16|bcef4fa9b0bdf22bc...|
|2016-12-05 00:00:00|       48.16|bcef4fa9b0bdf22bc...|
|2016-12-06 00:00:00|       48.16|bcef4fa9b0bdf22bc...|
|2016-12-07 00:00:00|       48.16|bcef4fa9b0bdf22bc...|
|2016-12-08 00:00:00|       48.16|bcef4fa9b0bdf22bc...|
|2016-12-09 00:00:00|       48.16|bcef4fa9b0bdf22bc...|
|2016-12-12 00:00:00|       48.16|bcef4fa9b0bdf22bc...|
|2016-12-13 00:00:00|       48.16|bcef4fa9b0bdf22bc...|
|2016-12-14 00:00:00|       48.16|bcef4fa9b0bdf22bc...|
+-------------------+------------+--------------------+
only showing top 20 rows

In [14]:
df_pyspark.printSchema()

root
 |-- timestamp: timestamp (nullable = true)
 |-- close_equity: double (nullable = true)
 |-- user_id: string (nullable = true)

In [15]:
 df_pyspark.select(['timestamp', 'close_equity']).show()

+-------------------+------------+
|          timestamp|close_equity|
+-------------------+------------+
|2016-11-16 00:00:00|       48.16|
|2016-11-17 00:00:00|       48.16|
|2016-11-18 00:00:00|       48.16|
|2016-11-21 00:00:00|       48.16|
|2016-11-22 00:00:00|       48.16|
|2016-11-23 00:00:00|       48.16|
|2016-11-25 00:00:00|       48.16|
|2016-11-28 00:00:00|       48.16|
|2016-11-29 00:00:00|       48.16|
|2016-11-30 00:00:00|       48.16|
|2016-12-01 00:00:00|       48.16|
|2016-12-02 00:00:00|       48.16|
|2016-12-05 00:00:00|       48.16|
|2016-12-06 00:00:00|       48.16|
|2016-12-07 00:00:00|       48.16|
|2016-12-08 00:00:00|       48.16|
|2016-12-09 00:00:00|       48.16|
|2016-12-12 00:00:00|       48.16|
|2016-12-13 00:00:00|       48.16|
|2016-12-14 00:00:00|       48.16|
+-------------------+------------+
only showing top 20 rows

In [16]:
df_pyspark.dtypes

[('timestamp', 'timestamp'), ('close_equity', 'double'), ('user_id', 'string')]

In [17]:
df_pyspark.describe().show()

+-------+-----------------+--------------------+
|summary|     close_equity|             user_id|
+-------+-----------------+--------------------+
|  count|          1119158|             1119158|
|   mean| 3976.95326619293|                null|
| stddev|13085.90376408953|                null|
|    min|             10.0|0012db34aa7b083f5...|
|    max|        478948.41|ffc1e622f3a0b2666...|
+-------+-----------------+--------------------+

PySpark ML using MLLIB

In [18]:
from pyspark.ml.feature import VectorAssembler

In [20]:
from pyspark.ml.regression import LinearRegression